body{
    background-color: black;
    
}

.navbar{
    margin-top: 1%;
    background-image: url("https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/A11FF0C824A45B7D466AA336DC07F3D5AEF32E94A8E31ED9E6FEC67551C744CA");
    background-size: 100% 400%;
    
}

.starWarsImg{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.splitButtonDiv{
    margin-right: 3%;
}


div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  margin-left: 5em;
//   color: white;
//   text-align: center;
//   padding: 14px;
//   text-decoration: none;
}

.characters{
    margin-top: 3%;
    color: #cc0000;
}

.characters h1{
    margin-left: 5%;
    margin-bottom: 2%;
}

.planets{
    margin-top: 3%;
    color: #cc0000;
}

.planets h1{
    margin-left: 5%;
    margin-bottom: 2%;
}

/* width */
.scrollmenu::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.scrollmenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollmenu::-webkit-scrollbar-thumb {
  background: #cc0000; 
  border-radius: 10px;
}

/* Handle on hover */
.scrollmenu::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cc0000; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}